
<%
   meta title: "Sell my Cameras in NYC New York NY Queens Manhattan",
        description: "We buy Cameras in NYC, Queens, Manhattan and Brooklyn for top cash. Sell your Canon, Nikon, Leica, Sony,
        GoPro cameras in New York CIty. Top dollar for cameras and Lenses.",
        keywords: %w(Sell Camera Cameras top cash Canon Nikon Leica Sony Alpha Nikkor GoPro
         money NYC Queens Manhattan Brooklyn New York Buy photo video City)
%>





<div class="container-fluid mobile">
  <div class="row main-info">
    <h1><strong>Where to sell my camera in NYC</strong> ?</h1>

    <img src="/leica.jpg" width="300" class="img center-block hidden-xs" alt=""/>
    <h2>We are number one cameras and lenses buyer in NYC.</h2>
    <p> New York City being the capital of the world in the center of the tourist attractions.
    Yet among the tourist of the NYC there are people who come to satisfy their taste in the latest technologically
    advanced products. There are many businessmen who visit New York to get their hands on the newest Nikon and Cannon
    cameras. Since the competition is great for the newest innovative products, recently bought cameras become rapidly
    obsolete. They quickly loose value and become "lifeless" so-to-speak. Once considered and expensive and innovative campera
    now suddenly becomes the thing of the past.

    Here at sellcamera.nyc, we would like to purchase your "old", "useless" product the give them "life" again.


    </p>
    <h2>You can sell brand new and used cameras and lenses.</h2>
    <p>So if you want to <strong> sell your cameras</strong> and lenses in NYC we are here for you. We have two places, one in
      Queens and one in Manhattan, where you can come in person with your items. Our specialists know everything
      about cameras
      and lenses in New York City. So for sure you will get the best service and<strong> top dollar for your things</strong>.
      You can call us to scheduale an appointment or get some information. </p>
    <p>We buy all <strong>cameras and lenses </strong>from major brands like Canon,
      Nikon, Sony, Leica, GoPro and many others. You can check full list. If you did not find your items there
      feel free to call us or to come to our locations, may be we just forget to write it here.</p>
    <h2>Where to sell cameras and lenses in NYC?</h2>
    <h4> <strong>Queens location #2 address: 119-16 Jamaica Ave, Queens, New York, 11418</strong> </h4>
    <p>Of course<strong> the best way to sell your camera and lens </strong>is to bring them streight to our places, but also feel free
      to call us for any information <br/> tel: +1 (718) 846-1600.</p>
    <p></p>
    <p>We don't purchase any lost or stolen items. Please make sure to have identification and to be over the age of 18.</p>
  </div>
</div>