
<%
   meta title: "Sell my Canon camera and lens in NYC New York NY Queens Manhattan",
        description: "We buy Cameras in NYC, Queens, Manhattan and Brooklyn for top cash.
        Sell my Canon camera and lens. Top dollar for cameras and Lenses.",
        keywords: %w(Sell Camera Cameras top cash Canon Nikon Leica Sony Alpha Nikkor GoPro
         money NYC Queens Manhattan Brooklyn New York Buy photo video City)
%>





<div class="container-fluid mobile">
  <div class="row main-info">
    <h1><strong>Where to sell my camera in Manhattan</strong> ?</h1>

    <img src="/canon.jpg" width="300" class="img center-block hidden-xs" alt=""/>
    <p> Looking for a place to sell your Canon camera or lens in New York? We are here for you.
      Highest prices paid for Canon items in
    NYC. Our specialists know everything about Canon cameras so just bring it and you will get your top dollar. </p>
  </div>
</div>