
<%
   meta title: "Sell my Cameras in NYC New York NY Queens Manhattan",
        description: "We buy Cameras in NYC, Queens, Manhattan and Brooklyn for top cash. Sell my Leica camera and lens
         in New York City. Top dollar for cameras and Lenses.",
        keywords: %w(Sell Camera Cameras top cash Canon Nikon Leica Sony Alpha Nikkor GoPro
         money NYC Queens Manhattan Brooklyn New York Buy photo video City)
%>





<div class="container-fluid mobile">
  <div class="row main-info">
    <h1><strong>Place to sell my camera in NYC</strong></h1>

    <img src="/leica.jpg" width="300" class="img center-block hidden-xs" alt=""/>
    <p> Looking for a place to sell your Leica camera or lens in New York? We are here for you.
      Highest prices paid for Leica items in
      NYC. Our specialists know everything about Leica cameras so just bring it and you will get your top dollar. </p>
  </div>
</div>