
<%
   meta title: "Sell my Cameras in NYC New York NY Queens Manhattan",
        description: "We buy Cameras in NYC, Queens, Manhattan and Brooklyn for top cash. Sell my Sony camera and lens
          in New York. Top dollar for cameras and Lenses.",
        keywords: %w(Sell Camera Cameras top cash Canon Nikon Leica Sony Alpha Nikkor GoPro
         money NYC Queens Manhattan Brooklyn New York Buy photo video City)
%>





<div class="container-fluid mobile">
  <div class="row main-info">
    <h1><strong>Where can i sell my camera in NYC</strong> ?</h1>

    <img src="/sony.jpg" width="300" class="img center-block hidden-xs" alt=""/>
    <p> Looking for a place to sell your Sony camera or lens in New York? We are here for you.
      Highest prices paid for Sony items in
      NYC. Our specialists know everything about Sony cameras so just bring it and you will get your top dollar. </p>
  </div>
</div>